@model IEnumerable<FARMCENTRALPROTOTYPE.Models.Farmer>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="/css/styles.css" />

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FarmerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmerSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmerEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FarmerPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FarmerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FarmerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FarmerSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FarmerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FarmerPassword)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.FarmerID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.FarmerID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.FarmerID }) 
                </td>     
            </tr>        
        }       
    </tbody> 
</table>
<button id="switchViewButton">Click here to view products</button>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var switchViewButton = document.getElementById('switchViewButton');
        switchViewButton.addEventListener('click', function () {
            window.location.href = '/Farmer/Index2'; 
        });
    });
</script>
